<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.arcguard.firesafety.sensor.mapper.SensorFrameMapper">
    <!-- 디바이스 1회 전송분 공통 필드 저장 -->
    <insert id="insertSensorFrame"
            parameterType="com.arcguard.firesafety.sensor.model.SensorFrame"
            useGeneratedKeys="true"
            keyProperty="frameId">
        INSERT INTO sensor_frame (
            panel_id,
            mode,
            volt_v,
            leak_ma,
            temperature,
            humidity,
            fire_raw,
            gas_raw,
            error_bits,
            door_status,
            total_current,
            total_power
        ) VALUES (
            #{panelId},
            #{mode},
            #{voltV},
            #{leakMa},
            #{temperature},
            #{humidity},
            #{fireRaw},
            #{gasRaw},
            #{errorBits},
            #{doorStatus},
            #{totalCurrent},
            #{totalPower}
        )
    </insert>
</mapper>
