<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.arcguard.firesafety.sensor.mapper.SensorFrameCircuitMapper">
    <!-- 프레임별 회로 측정값 저장 -->
    <insert id="insertSensorFrameCircuit"
            parameterType="com.arcguard.firesafety.sensor.model.SensorFrameCircuit"
            useGeneratedKeys="true"
            keyProperty="readingId">
        INSERT INTO sensor_frame_circuit (
            frame_id,
            circuit_id,
            current_a,
            arc_counter,
            device_arc_flag
        ) VALUES (
            #{frameId},
            #{circuitId},
            #{currentA},
            #{arcCounter},
            #{deviceArcFlag}
        )
    </insert>
</mapper>
